@model OrderViewModel;
@{
    double TotalSum = 0;
    double PriceWithPercentage = 0;

    foreach (var item in Model.CheckoutViewModels)
    {
        PriceWithPercentage = (item.Book.SalePrice - (item.Book.SalePrice * item.Book.DiscountPercent) / 100) * item.Count;
        TotalSum += (item.Book.SalePrice - (item.Book.SalePrice * item.Book.DiscountPercent) / 100) * item.Count;
    }
}

<section class="breadcrumb-section">
    <h2 class="sr-only">Site Breadcrumb</h2>
    <div class="container">
        <div class="breadcrumb-contents">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Checkout</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<main id="content" class="page-section inner-page-sec-padding-bottom space-db--20">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Checkout Form s-->
                <div class="checkout-form">
                    <div class="row row-40">
                        <div class="col-12">
                            <h1 class="quick-title">Checkout</h1>
                            <!-- Slide Down Trigger  -->
                            <div class="checkout-quick-box">
                                <p>
                                    <i class="far fa-sticky-note"></i>Returning customer? <a href="javascript:"
                                                                                             class="slide-trigger" data-target="#quick-login">
                                        Click
                                        here to login
                                    </a>
                                </p>
                            </div>
                            <!-- Slide Down Blox ==> Login Box  -->
                            <div class="checkout-slidedown-box" id="quick-login">
                                <form action="https://demo.hasthemes.com/pustok-preview/pustok/">
                                    <div class="quick-login-form">
                                        <p>
                                            If you have shopped with us before, please enter your details in the
                                            boxes below. If you are a new
                                            customer
                                            please
                                            proceed to the Billing & Shipping section.
                                        </p>
                                        <div class="form-group">
                                            <label for="quick-user">Username or email *</label>
                                            <input type="text" placeholder="" id="quick-user">
                                        </div>
                                        <div class="form-group">
                                            <label for="quick-pass">Password *</label>
                                            <input type="text" placeholder="" id="quick-pass">
                                        </div>
                                        <div class="form-group">
                                            <div class="d-flex align-items-center flex-wrap">
                                                <a href="#" class="btn btn-outlined   mr-3">Login</a>
                                                <div class="d-inline-flex align-items-center">
                                                    <input type="checkbox" id="accept_terms" class="mb-0 mr-1">
                                                    <label for="accept_terms" class="mb-0">
                                                        I’ve read and accept
                                                        the terms &amp; conditions
                                                    </label>
                                                </div>
                                            </div>
                                            <p>
                                                <a href="javascript:" class="pass-lost mt-3">
                                                    Lost your
                                                    password?
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Slide Down Trigger  -->
                            <div class="checkout-quick-box">
                                <p>
                                    <i class="far fa-sticky-note"></i>Have a coupon? <a href="javascript:"
                                                                                        class="slide-trigger" data-target="#quick-cupon">
                                        Click here to enter your code
                                    </a>
                                </p>
                            </div>
                            <!-- Slide Down Blox ==> Cupon Box -->
                            <div class="checkout-slidedown-box" id="quick-cupon">
                                <form action="https://demo.hasthemes.com/pustok-preview/pustok/">
                                    <div class="checkout_coupon">
                                        <input type="text" class="mb-0" placeholder="Coupon Code">
                                        <a href="#" class="btn btn-outlined">Apply coupon</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-7 mb--20">
                            <!-- Billing Address -->
                            <form id="order-form" method="post">
                                <div id="billing-form" class="mb-40">
                                    <h4 class="checkout-title">Billing Address</h4>
                                    <div class="row">
                                        <div class="col-md-6 col-12 mb--20">
                                            <label>Full Name*</label>
                                            <input asp-for="FullName" placeholder="Full Name">
                                        </div>
                                        <div class="col-md-6 col-12 mb--20">
                                            <label>Country*</label>
                                            <input asp-for="Country" placeholder="Country">
                                        </div>
                                        <div class="col-md-6 col-12 mb--20">
                                            <label>Email Address*</label>
                                            <input asp-for="Email" placeholder="Email Address">
                                        </div>
                                        <div class="col-md-6 col-12 mb--20">
                                            <label>Phone no*</label>
                                            <input asp-for="Phone" placeholder="Phone number">
                                        </div>
                                        <div class="col-12 col-md-6 mb--20">
                                            <label>Address*</label>
                                            <input asp-for="Address" placeholder="Address line 1">
                                        </div>
                                        <div class="col-md-6 col-12 mb--20">
                                            <label>Zip Code*</label>
                                            <input asp-for="ZipCode" placeholder="Zip Code">
                                        </div>
                                        <div class="order-note-block col-12 col-md-12 mt--30">
                                            <label asp-for="Note">Order notes</label>
                                            <textarea asp-for="Note" id="order-note" cols="30" rows="10" class="order-note"
                                                      placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                        </div>

                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="col-lg-5">
                            <div class="row">
                                <!-- Cart Total -->
                                <div class="col-12">
                                    <div class="checkout-cart-total">
                                        <h2 class="checkout-title">YOUR ORDER</h2>
                                        <h4>Product <span>Total</span></h4>
                                        <ul>
                                            @foreach (var item in Model.CheckoutViewModels)
                                            {
                                                <li>
                                                    <span class="left">@item.Book.Name  X  @item.Count</span> <span class="right">$@((item.Book.SalePrice - (item.Book.SalePrice * item.Book.DiscountPercent) / 100) * item.Count)</span>
                                                </li>
                                            }
                                        </ul>
                                        <p>Sub Total <span>$@TotalSum.ToString("0.00")</span></p>
                                        <p>Shipping Fee <span>$00.00</span></p>
                                        <h4>Grand Total <span>$@TotalSum.ToString("0.00")</span></h4>
                                        <div class="method-notice mt--25">
                                            <article>
                                                <h3 class="d-none sr-only">blog-article</h3>
                                                Sorry, it seems that there are no available payment methods for
                                                your state. Please contact us if you
                                                require
                                                assistance
                                                or wish to make alternate arrangements.
                                            </article>
                                        </div>
                                        <div class="term-block">
                                            <input type="checkbox" id="accept_terms2">
                                            <label for="accept_terms2">
                                                I’ve read and accept the terms &
                                                conditions
                                            </label>
                                        </div>
                                        <button type="submit" form="order-form" class="place-order w-100">Place order</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
